@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");


body{
    background-color: black;
    font-size: 15px;
}


.site {
    
    border-style: solid;
    color: gray;
    padding: 20px;
}

.titulo__pag{
    border-style: solid;
    border-radius: 5px;
    border-color: gray;

    padding: 10px;

    margin-bottom: 5px;

    text-align: center;
    font-family: "Roboto", sans-serif;
    color: red;
}

.picture-inicial{
    background-image: url("./imagens.img/SãoPauloAv.Paulista.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 600px;
    
    padding: 20px;
}


.nav_links{
  
    margin-bottom: 5px;
    text-align-last: end;
}


.local{
    
    text-align: left;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: gray;
    padding: 5px;
}

.imagem-Avenida{
    background-image: url("./imagens.img/Av.Paulista1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 400px;
    
}

.imagem-Parque{
    background-image: url("./imagens.img/Ibirapuera.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 400px;
}

.imagem-Mercadão{
    background-image: url("./imagens.img/mercadão.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 400px;
}

p{
    font-style: italic;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    text-align: justify;
    

}

.turístico{
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    
    margin-top: 20px;
    margin-bottom: 10px;
}


.sobre{
    text-align: left;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: gray;
    padding: 5px;

} 

#mais_curiosidades{
    text-align: left;
    margin-top: 20px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: gray;
    padding: 5px;
}

.footer{
    margin-bottom: 5px;
    text-align-last: end;
}